/*Обнуление*/

*,*::before,*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
ul, ol, li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-size:inherit;
	font-weight: inherit;
}
html, body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	background: #FAFAFA;
	color: #252B42;
	font-weight: 500;
	font-family: Montserrat;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.__container {
	max-width: 1046px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*----------------------------------------------------------------------------------------------------------------------*/
/* HEADER */

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	font-style: 24px;
	font-weight: 700;
	color: inherit;
}
.header__menu {
	margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0px 0px 0px 40px;
	}
}
@media (max-width: 479px) {
	.header__menu {
		margin: 0px 0px 0px 20px;
	}
}

.menu {
	padding: 5px 0px;
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}
.menu__link {
	color: #737373;
	font-weight: 600;
	line-height: 24px;
}
.menu__link:hover {
	text-decoration: overline;
}
@media (max-width: 435px) {
	.menu__link {
		font-size: 18px;
	}
}

/*----------------------------------------------------------------------------------------------------------------------*/
/* PAGE */
.page {
	flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0px 0px 0px;
}
.page__advantages {
}
.page__practice {
}
.page__whoweare {
}
.page__clients:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.page__subscribe {
}
.page__getintouch {
}
.page__contact {
}
/*----------------------------------------------------------------------------------------------------------------------*/
/* HEADER BLOCK */
.header-block {
	text-align: center;
	letter-spacing: 0.2px;
}
.header-block__title {
	font-size: 40px;
	font-weight: 700;
}
.header-block__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
	color: #737373;
	line-height: 142%;
}
@media (min-width: 992px) {
	.header-block__title {
		font-size: 35px;
	}
}
@media (min-width: 767px) {
	.header-block__title {
		font-size: 30px;
	}
}

/*----------------------------------------------------------------------------------------------------------------------*/
/* MAIN */
.main-block {
	position: relative;
}
.main-block__container {
}
.main-block__body {
	padding: 184px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 400px;
}
@media (max-width: 992px) {
	.main-block__body {
		padding: 120px 0px 191px 0px;
	}
}
.main-block__body > *:not(:last-child) {
	margin: 0px 0px 35px 0px;
}
.main-block__title {
	font-size: 58px;
	line-height: 137%;
	letter-spacing: 0.2px;
	font-weight: 800;
}
@media (max-width: 479px) {
	.main-block__title {
		font-size: 42px;
	}
}
.main-block__text {
	color: #737373;
	font-size: 20px;
	line-height: 150%;
}
@media (min-width: 479px) {
	.main-block__text {
		color: #5c5b5b;
	}
}
.main-block__buttons {
	display: inline-flex;
	flex-wrap: wrap;
	margin: -10px 0px;
}
.main-block__button {
	border-radius: 37px;
	min-height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.2px;
	font-weight: 700;
	text-align: center;
	line-height: 150%;
	padding: 5px 36px;
	margin: 10px 0px;
	transition: all 0.3s ease 0s;
}
.main-block__button_orange:not(:last-child) {
	margin-right: 10px;
}

@media (max-width: 479px) {
	.main-block__button {
		flex: 1 1 100%;
	}
}
@media (min-width: 479px) {
.main-block__button:not(:last-child) {
	margin-right: 10px;
	}
}
.main-block__button_orange {
	background: #FF7B47;
	color: white;
}
.main-block__button_orange:hover {
	background-color: #fff;
	color: #FF7B47;
}
.main-block__button_border {
	color: #0D5C63;
	border: 1px solid #0D5C63;
}
.main-block__button_border:hover {
	background-color: #0D5C63;;
	color: #FFf;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}
@media (max-width: 992px) {
	.main-block__image {
		opacity: 0.5;
	}
}

/*----------------------------------------------------------------------------------------------------------------------*/
/* SERVICES */
.services {
}
.services-block__container {
}
.services__body {

}
@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px -30px;
	}
}
.services__column {
	flex: 0 1 33.333%;
	margin: 0px 0px 30px 0px;
}
@media (min-width: 670px) {
	.services__column {
		padding: 0px 15px;
	}
}
@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:last-child {
		flex: 0 1 100%;
	}
}
.services__item {
	height: 100%;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	background-color: #fff;
	padding: 35px;
}
.item-service {
}
.item-service_green {
	background-color: #0D5C63;
}
.item-service_green .item-service__tittle {
	color: #fff;
}
.item-service_green .item-service__text {
	color: #fff;
}
.item-service > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-service__icon {
}
.item-service__tittle {
	font-weight: 700;
	letter-spacing: 0.1px;
	font-size: 24px;
	line-height: 133%;
}
.item-service__text {
	width: 218px;
	color: #737373;
	line-height: 142%;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/* ADVANTAGES */
.advantages {
	padding: 80px 0px;
}
@media (max-width: 992px) {     
	.advantages {
		padding: 50px 0px;
	}
}
@media (max-width: 767px) {     
	.advantages {
		padding: 40px 0px;
	}
}
.advantages__container {
}
.advantages__header {
	margin-top: 0px 0px 50px 0px;
}
@media (max-width: 767px) {     
	.advantages__header {
		margin-top: 0px 0px 20px 0px;
	}
}
.advantages__body {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0px -15px -30px;
}
.advantages__column {
	padding: 0px 15px;
	margin-top: 0px 30px 0px;
	flex: 0 1 25%;
}
/* ADAPTIVE */
@media (max-width: 1020px) {     
	.advantages__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 560px) {     
	.advantages__column {
		flex: 0 1 100%;
	}
}
.advantages__item {
	background-color: #fff;
	font-weight: 700;
	padding: 31px;
	text-align: center;
}
.advantages__item > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.advantages__icon {
	
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.advantages__value {
	font-size: 40px;
	line-height: 142%;
}
.advantages__text {
	color: #737373;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/* PRACTICE */
.practice {
	padding: 125px 0px 80px 0px;
}
@media (max-width: 993px) {     
	.practice {
		padding: 40px 0px 80px 0px;
	}
}
@media (max-width: 767px) {     
	.practice {
		padding: 0px 0px 40px 0px;
	}
}
.practice__container {
}
.practice__header {
	margin: 0px 0px 45px 0px;
}
@media (max-width: 767px) {     
	.practice__header {
		margin: 0px 0px 25px 0px;
	}
}
.practice__body {
	margin: 0px -20px -30px;
	display: flex;
	flex-wrap: wrap;
}
.practice__coiumn {
	padding: 0px 20px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}
@media (max-width: 1040px) {     
	.practice__coiumn {
		flex: 0 1 50%;
	}
}
@media (max-width: 630px) {     
	.practice__coiumn {
		flex: 0 1 100%;
	}
}
.practice__item {
}
.item-practice {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.item-practice__content {
	padding: 30px;
	flex: 1 1 auto;
}
.item-practice__link {
	color: inherit;
	display: inline-block;
	margin-bottom: 15px;
}
.item-practice__link:hover {
	transition-duration: underline;
}
.item-practice__title {
	letter-spacing: 0.1px;
	font-size: 16px;
	line-height: 150%;
	font-weight: 700;
}
.item-practice__text {
	color: #737373;
	line-height: 142%;
}
.item-practice__image {
	display: block;
	padding: 0px 0px 60% 0px;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/* WHOWEARE*/
.whoweare {
	padding: 80px 0px 130px 0px;
}
.whoweare__container {
}
.whoweare__header {
	margin: 0px 0px 100px 0px;
}
.whoweare__body {
	display: flex;
	align-items: flex-start;
}
.whoweare__video {
	flex: 0 0 57%;
	position: relative;
	padding: 0px 0px 42.25% 0px;
}
.whoweare__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
.whoweare__content {
	flex: 1 1 auto;
	padding: 20px 0px 0px 121px;
}
.whoweare__title {
	font-weight: 800;
	font-size: 40px;
	line-height: 142%;
}
.whoweare__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.whoweare__text {
	color: #737373;
	line-height: 142%;
}
.whoweare__top:not(:last-child){
	margin: 0px 0px 50px 0px;
}
.whoweare__items {
	margin: 50px 0px 0px 0px;
}
.whoweare__item {
}
.whoweare__item:not(:last-child) {
	margin: 0px 0px 30px 0px;
}
.item-whoweare {
	display: flex;
}
.item-whoweare__icon {
	flex: 0 0 32px;
}
.item-whoweare__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 20px;
}
.item-whowheare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
}
.item-whowheare__title:not(:last-child) {
	margin: 0px 0px 5px 0px;
}
.item-whowheare__text {
	color: #737373;
	white-space: nowrap;
	line-height: 142%;
	width: 225px;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 1080px) {     
	.whoweare__content {
		padding: 0px 0px 0px 50px;
	}
}
@media (max-width: 950px) {    
	.whoweare {
		padding: 50px 0px 50px 0px;
	} 
	.whoweare__body {
		flex-direction: column-reverse;
		align-items: stretch;
	}
	.whoweare__title {
		font-size: 24px;
	}
	.whoweare__content {
		padding: 0px 0px 0px 0px;
	}
	.whoweare__video {
		padding: 0px 0px 56.25% 0px;
	}
	.whoweare__video:not(:last-child){
		margin: 50px 0px 0px 0px;
	}
	.whoweare__header  {
		margin: 0px 0px 30px 0px;
	}
}
@media (max-width: 767px) {     
	.whoweare {
		margin: 20px 0px 50px 0px;
	}
	.whoweare__top:not(:last-child){
		margin: 0px 0px 30px 0px;
	}
	.whoweare__video:not(:last-child){
		margin: 30px 0px 0px 0px;
	}
}
/*----------------------------------------------------------------------------------------------------------------------*/
/* CLIENTS */
.clients {
	padding: 50px 0px;
}
@media (max-width: 767px) {     
	.clients {
		padding: 30px 0px;
	}
}
.clients__container {
}
.clients__items {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.clients__item {
	padding: 8px 15px;
	flex: 0 1 16.667%;
	text-align: center;
	min-width: 140px;
}
.clients__item img {
	max-width: 100%;
}
/*----------------------------------------------------------------------------------------------------------------------*/
/* SUBSCRIBE */
.subscribe {
	position: relative;
	padding: 0px 0px 20px 0px;
}
.subscribe::before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 77px;
	left: 0;
	background: #252B42;
}
.subscribe__container {
}
.subscribe__body {
	position: relative;
	z-index: 2;
	margin: 0px 30px;
	padding: 30px 50px;
	align-items: center;
	background:  #17213C;
	border-radius: 2px;
}
.subscribe__title {
	flex: 0 1 50%;
	font-size: 24px;
	color: #fff;
	line-height: 133%;
	font-weight: 700;
	letter-spacing: 0.1px;
}
.subscribe__form {
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}
.subscribe__input {
	width: 100%;
	flex: 1 1 auto;
	min-height: 58px;
	padding: 0px 20px;
	background: #F9F9F9;
	border: 1px solid #E6E6E6;
	border-right: 0;
	border-radius: 5px 0px 0px 5px;
	color: #737373;;
}
.subscribe__input:focus {
	color: #000;
}
.subscribe__button {
	background: #FF7B47;
	border: 1px solid #E6E6E6;
	border-radius: 0px 5px 5px 0px;
	display: flex;
	min-height: 58px;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	color: #fff;
	padding: 0px 22px;
}
.subscribe__button:hover {
	background: #c86b47;

}
@media (min-width: 1070px) {     
	.subscribe__body {
		margin: 0px 30px;
	}
}
@media (min-width: 810px) {  
	.subscribe__title {
		max-width: 266px;
	}   
	.subscribe__body {
		display: flex;
		justify-content: space-between;
	}
}
@media (max-width: 810px) {     
	.subscribe__title {
		margin: 0px 0px 20px 0px;
	}
	.subscribe__body {
		margin: 0px -15px;
		padding: 20px 15px;
	}
	.subscribe__input {
		padding: 0px 15px;
	}
	.subscribe__button {
		padding: 0px 15px;
	}
}
/*----------------------------------------------------------------------------------------------------------------------*/
/* GETINTOUCH */
.getintouch {
	padding: 80px 0px 135px 0px;
}
.getintouch__container {
}
.getintouch__header {
	margin: 0px 0px 80px 0px;
}
.getintouch__items {
	margin: 0 -15px;
}
.getintouch__item {
	flex: 0 1 33.333%;
}
.item-getintouch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 50px 15px;
}
.item-getintouch_activ {
	background: #252B42;
	padding: 80px 15px;
	color: #fff;
}
.item-getintouch_activ .item-getintouch__button {
	border: 1px solid #fff;
	color: #fff;
}
.item-getintouch > *:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.item-getintouch__icon {
}
.item-getintouch__emails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.item-getintouch__email {
	color: inherit;
	font-weight: 600;
	line-height: 159%;
	font-size: 16px;
}
.item-getintouch__email:hover {
	text-decoration: overline;
}
.item-getintouch__label {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
}
.item-getintouch__button {
	border: 1px solid #FF7B47;
	min-height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #FF7B47;
	font-weight: 600;
	padding: 5px 20px;
	line-height: 142%;
	transition: all 0.3s ease 0s;
	border-radius: 5px;
}
.item-getintouch__button:hover {
	background-color: #c86b47;
	color: #ffffff;
}
@media (min-width: 992px) { 
	.getintouch {
		padding: 50px 0px;
	}    
	.getintouch__items {
		margin: 0;
		display: flex;
		align-items: center;
	}
}
@media (max-width: 767px) {     
	.getintouch__header {
		margin: 0px 0px 30px 0px;
	}
}
@media (max-width: 992px) {     
	.getintouch__header {
		margin: 0px 0px 50px 0px;
	}
	.item-getintouch_activ {
		padding: 50px 15px;
	}
}
/*----------------------------------------------------------------------------------------------------------------------*/
/* CONTACT */
.contact {
	background-color: #fff;
	padding: 42px 0px;
}
.getintouch__container {
}
.contact__body {
}
.contact__content {
	padding: 0px 0px 20px 0px;
}
@media (min-width: 767px) {
	.contact__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.contact__content {
		padding: 0px 20px 0px 0px;
	}
}
.contact__title {
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.1px;
	line-height: 133%;
}
.contact__title:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.contact__text {
	color: #737373;
	line-height: 133%;
}
.contact__button {
	display: flex;
	background: #FF7B47;
	border-radius: 5px;
	min-height: 58px;
	padding: 5px 40px;
	align-items: center;
	text-align: center;
	color: #fff;
	transition: background-color 0/3s ease 0s;
}
.contact__button:hover {
	background-color: #c36743;
}
/*----------------------------------------------------------------------------------------------------------------------*/
/* FOOTER */
.footer {
}
.footer__top {
	background: #17213C;
	padding: 35px 0px;
}
.footer__main {
}
.footer_row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}
.footer__column {
	padding: 15px 15px;
	flex: 0 1 16.6667;
}
.footer__column:last-child {
	flex: 0 1 33.334%;
}
@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 25%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
}
@media (max-width: 767px) {
	.footer__column {
		flex: 0 1 50%;
	}
}
.footer__label {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	padding: 0px 0px 20px 0px;
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item {
}
.menu-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.menu-footer__link {
	color: #fff;
	line-height: 171%;
	letter-spacing: 0.2px;
}
.menu-footer__link:hover {
	text-decoration: overline;
}
.footer__contacts {
}
.contacts-footer {
	display: flex;
	flex-direction: column;
}
.contacts-footer__item {
	padding: 0px 0px 0px 34px;
	line-height: 142%;
	display: flex;
	align-items: center;
	color: #fff;
	min-height: 30px;
}
.contacts-footer__item:hover {
	text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
	margin: 0px 0px 12px 0px;
}
.contacts-footer_phone {
	background: url(../img/footer/1.svg) left no-repeat;
}
.contacts-footer_map {
	background: url(../img/footer/2.svg) left no-repeat;
}
.contacts-footer_email {
	background: url(../img/footer/3.svg) left no-repeat;
}
.footer__bottom {
	padding: 25px 0px;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
	}
}
.footer__copy {
	color: #737373;
	line-height: 171%;
}
.footer__social {
	display: flex;
	align-items: center;
}
.social {
}
.social__item:not(:last-child) {
	margin:  0px 20px 0px 0px;
}
@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
	}
	.footer__copy {
		margin:  0px 0px 15px 0px;
		text-align: center;
	}
}